body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--bkg-a);
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
  border: 3px solid #111;
}

::-webkit-scrollbar {
  background-color: #111;
  border: 3px solid #111;
}

:root {
  --highlight: #ff7800;
  --bkg-a: #222;
}

hr {
  background-color: #fff3;
  border: none;
  height: 1px;
}

fieldset {
  border: 1px solid #fff3;
}

td {
  color: #888;
}

select {
  background: #0002;
  color: #d2d2d2;
  border: 1px solid #fff2;
  padding: 2px;
  outline: none;
}

option {
  background: #111;
}

#container {
  width: 600px;
  height: 500px;
  background: var(--bkg-a);
  color: #fff;
}

#top-bar {
  height: fit-content;
  width: 100%;
  background: #0002;
  border-bottom: 1px solid #fff1;
  display: flex;
}

#top-bar span {
  margin: auto 5px;
  color: #fff4;
}

#top-bar button {
  margin: 0;
  padding: 2px 10px;
  background: transparent;
  border: none;
}

#top-bar button:hover {
  background: var(--highlight);
  color: white;
}

#top-bar button.active {
  background: #fff1;
}

#tab-container {
  display: flex;
  height: 100%;
}

#tab-container > div {
  display: none;
}

#tab-container div.active {
  display: flex;
  width: 100%;
  background: var(--bkg-a);
}

#toaster {
  margin: auto 0;
  position: absolute;
}

/* GENERIC */

input {
  background: #0002;
  border: solid 1px #fff2;
  color: #888;
  outline: none;
}

button {
	color: #fff;
	background: #0001;
	border: 1px solid #fff2;
	padding: 2px 10px;
  margin: 0;
  outline: none;
}

button:hover {
	color: #fff;
	background: var(--highlight);
	border: 1px solid #fff2;
	padding: 2px 10px;
  margin: 0;
}

button:disabled {
	color: #888;
	background: #fff1 !Important;
}

button:disabled:hover {
	color: #999 !Important;
	background: #fff2 !Important;
}

/* ----- TABS ----- */

/* PACKAGE BROWSER */

.tab0-filename {
  float: right;
  color: #fff4;
}

#tab-package-browser div.browser-container {
  margin: auto;
  display: inline-block;
}

#tab-package-browser ul {
  width: 380px;
  height: 300px;
  background: #0005;
  border: 1px solid #fff2;
  list-style: none;
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
}

#tab-package-browser ul li {
  color: #fff8;
  padding: 5px;
}

#tab-package-browser ul li:nth-child(odd) {
  background: #fff1;
}

#tab-package-browser ul li:hover {
  color: #fff;
  background: #fff5;
}

#tab-package-browser ul li.active {
  background: var(--highlight);
}

/* ITEM BROWSER */

#tab-package {
  flex-direction: column;
}

#package-item #package-icon {
  width: 128px;
  height: 128px;
}

#tab-package table {
  width: 100%;
  overflow-y:scroll;
}

#tab-package table td.package-icon {
  width: 128px;
  padding: 10px;
}

#item-list {
  margin: 10px;
  width: 580px;
  display: flex;
  flex-direction: column;
  height: 310px;
}

#item-list ul {
  /* Fixed height. This is a really stinky solution but it will work for now. */
  height: 240px;
  background: #0005;
  border: 1px solid #fff2;
  list-style: none;
  padding: 10px;
  overflow-y: scroll;
  margin: 0;
  margin-bottom: 5px;
}

#item-list ul li {
  color: #fff8;
  padding: 5px;
}

#item-list div {
  margin-bottom: 5px;
}

#item-list ul li:nth-child(odd) {
  background: #fff1;
}

#item-list ul li:hover {
  color: #fff;
  background: #fff5;
}

#item-list ul li.active {
  background: var(--highlight);
}

#tab-package button.save {
  margin: 0 10px;
}

/* ITEM TAB */

#tab-item {
  flex-direction: column;
}

#tab-item #item-icon {
  width: 128px;
  height: 128px;
}

#tab-item table {
  width: 100%;
  overflow-y:scroll;
}

#tab-item table td.item-icon {
  width: 128px;
  padding: 10px;
}

#tab-item button.save {
  margin: 0 10px;
}

#tab-item fieldset[data-pickertype] {
  display: none;
}

#tab-item fieldset[data-pickertype].tab2-fieldset-enabled {
  display: block;
}
